.navbar {
  height: 700px;

  padding: var(--mantine-spacing-md);

  box-sizing: border-box;
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  transition: background-color 150ms ease, color 150ms ease;
}

/* hover state for normal links */
.link:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );

  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

/* icon inside link */
.link .linkIcon {
  color: var(--mantine-color-gray-6);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

/* active link class applied by NavLink in JS */
.linkActive,
.linkActive:hover {
  background-color: var(--mantine-color-primary-light);
  color: var(--mantine-color-primary-light-color);
}

.linkActive .linkIcon {
  color: var(--mantine-color-primary-light-color);
}
